<div class="wrapper">
    <main class="main">
        <h1>Comment</h1>
        <p>Comment es el lugar indicado para dejar tu comentario de forma anónima en Internet.</p>
        <a href="/comments"><button>Ir a Comment</button></a>
    </main>
    <footer class="footer">
        <p>Si tienes algún tipo de problema diríjete a <a href="/support">Soporte</a>.</p>
        <p>© 2023 <a href="http://github.com/tizielpro" target="_blank">Tiziano Montenegro</a>, Todos los derechos reservados.</p>
    </footer>
</div>