<div class="wrapper">
    <div class="inputs">
        <a href="/write-a-comment"><button>Escribe un comentario</button></a>
        <input type="text" placeholder="Buscar un comentario">
    </div>
    <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
            <div class="first">
                <img class="image" src="{{ comment.image }}" alt="perfil">
                <p>{{ comment.username }}</p>
                <div class="line"></div>
            </div>
            <div class="second">
                <p>{{ comment.comment }}</p>
                <p class="date">{{ comment.date }}</p>
            </div>
        </div>
    </div>
</div>